fastapi
sqlalchemy
psycopg2-binary
alembic
python-dotenv
python-multipart
python-jose[cryptography]
passlib[bcrypt]
pydantic[email]
pydantic-settings   
requests
pytest
httpx
pytest-asyncio
slowapi
hypercorn
h2